[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "==1.60.0"
grpcio-tools = "==1.60.0"
loguru = "==0.7.2"
protobuf = "==4.25.1"
setuptools = "*"
style = "==1.1.0"
update = "==0.0.1"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python3 server"
