<!-- Arquivo formulario.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Generat Check</title>
</head>
<body>
    <h1>CreditBack </h1>
    <h2>Request your check!</h2>
    <form action="/submeter" method="get">
        <label for="Credit Account ID:">Credit Account ID:</label>
        <input type="text" id="credit_account_id" name="credit_account_id"/>

        <label for="Ammount:">Ammount:</label>
        <input type="text" id="ammount" name="ammount"/>

            <h2 th:text="${mensagem_credit_account}"></h2>
            <h2 th:text="${mensagem_ammount}"></h2>

        <button type="submit">Ask for your check</button>
    </form>
</body>
</html>