<!-- Arquivo resultado.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sucesso!</title>
</head>
<body>
    <h1>Your check has been successfully obtained!</h1>
    <p></p>
    <p></p>
    <h2>Check Id tatus: </h2>
    <p th:text="${checkmessage}"></p> 
    <p></p>
    <p></p>
    <h2>Data:  </h2>
    <p th:text="${data}"></p>
    <p></p>
    <p></p>
    <h2>CheckID: </p> </h2>
    <p th:text="${checkid}">
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <h1>Want to try your luck?</h1>

  
    <form action="/euromil_register" method="get">
        <input type="hidden" id="checkid" name="checkid" value="${checkid}">
        <button type="submit">Register Euromil</button>
    </form>
   
</body>
</html>