-i https://pypi.org/simple
grpcio==1.60.0; python_version >= '3.7'
grpcio-tools==1.60.0; python_version >= '3.7'
loguru==0.7.2; python_version >= '3.5'
protobuf==4.25.1; python_version >= '3.8'
setuptools==69.0.1; python_version >= '3.8'
style==1.1.0
update==0.0.1
